@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.contenedor {
  padding: 60px 0;
  width: 80%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

/* Pages */
/* Inicio */
/* Header Inicio */
.header__inicio {
  width: 100%;
  height: 600px;
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/star_wars_battlefront_ii_2017_video_game-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/star_wars_battlefront_ii_2017_video_game-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Footer Inicio */
.footer__inicio {
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(5, 34, 102, 0.607), rgba(15, 31, 61, 0.593)), url(../assets/banner/fallout_vault_boy_2-wallpaper-1152x720.jpg);
  background: linear-gradient(to right, rgba(5, 34, 102, 0.607), rgba(15, 31, 61, 0.593)), url(../assets/banner/fallout_vault_boy_2-wallpaper-1152x720.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor__footer--pagina {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.contenedor__footer--cont {
  text-align: center;
}

.contenedor__footer--cont h4 {
  color: #fff;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenedor__footer--cont p {
  color: #ccc;
}

/* NAV and Wave*/
nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav>a {
  color: #ffff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
}

nav>a:hover {
  text-decoration: underline;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav li:hover>ul {
  display: block;
}

/* Título principal NAV */
header .texto-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  color: #081054;
  margin-top: 100px;
  margin-left: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: #ffff;
  margin-left: 80px;
}

/* Título Ofertas */
.titulo {
  display: inline-block;
  margin-left: 30%;
  margin-right: 25%;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 4px;
  color: #000;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}

/* mejores productos de la semana */
.comprar__pro {
  display: inline-flex;
  justify-items: right;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: auto;
  padding: 4px;
  height: 30px;
  color: black;
  background: #4F80F5;
}

.contenedor__productos {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  border-radius: 4px;
}

.contenedor__productos--inicio {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 4px;
}

.img__producto {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #b0b0b0;
}

.img__texto--pro {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.comprar__pro {
  margin-left: 25%;
  margin-right: 25%;
}

/* carousel */
#carouselExampleControls {
  margin-bottom: 20px;
  width: 100%;
}

/* Clients */
.titulo__clientes {
  color: #000;
  padding: 50px;
  text-align: center;
  margin-right: auto;
}

.clientes__contenedor {
  margin: 60px 0 60px 0;
  background: #e0e0e0;
  padding: 50px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards__card {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cards .cards__card {
  background: #e0e0e0;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
}

.img__card {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #b0b0b0;
  border-radius: 50%;
  display: block;
}

.img__card-2 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #b0b0b0;
  border-radius: 50%;
}

.cards .cards__card>.contenido-texto-card {
  width: 60%;
  color: #000;
}

.cards .cards__card>.contenido-texto-card p {
  font-weight: 300;
  padding-top: 10px;
}

p {
  padding: 30px;
}

/* Media queries Inicio */
/* NAV */
@media screen and (max-width: 540px) {
  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }

  nav>a {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }

  .contenedor__productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor__productos--inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }

  .col-3 {
    display: inline-block;
    width: 200px;
    height: max-content;
  }

  .col-5 {
    display: inline-block;
    width: auto;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .img__texto--pro {
    text-align: center;
    display: inline-block;
  }

  .comprar__pro {
    display: inline-block;
    margin-top: 10px;
  }

  .texto__header h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  .textos-header {
    font-size: 10px;
    margin-top: 30px;
  }

  .titulo {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* carousel */
  #carouselExampleControls {
    width: 100%;
  }

  /* Footer */
  .contenedor__footer-pagina {
    flex-direction: column;
    border: none;
  }

  .titulo__clientes {
    display: inline-block;
    text-align: center;
  }

  .contenedor__footer-cont {
    margin-bottom: 20px;
    text-align: center;
  }

  .contenedor__footer-cont h4 {
    border: none;
  }

  .contenedor__footer-cont p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }

  /* Inicio */
  /* Clientes */
  .titulo__clientes {
    padding: 20px;
    margin: 0;
  }

  .clientes__contenedor {
    padding: 0;
  }

  .cards .cards__card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cards__card {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }

  .cards .cards__card .img__card .img__card-2 {
    width: 90px;
    height: 90px;
  }

  .contenido-texto-card p {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 0;
    margin: 0;
  }

  /* Productos inicio */
  .contenedor__productos {
    height: max-content;
    display: flex;
    flex-direction: column;
  }

  .col-3 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {

  /* Inicio */
  /* Clientes */
  .titulo__clientes {
    padding: 2px;
    margin: 0;
  }

  .clientes__contenedor {
    padding: 0;
  }

  .cards .cards__card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cards__card {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }

  .cards .cards__card .img__card .img__card-2 {
    width: 90px;
    height: 90px;
  }

  .contenido-texto-card p {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {

  /* Cliente */
  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cards__card {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }

  .contenido-texto-card {
    display: flex;
    flex-direction: column;
  }

  .contenedor__productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor__productos-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }

  .col-3 {
    display: inline-block;
    width: 200px;
    height: max-content;
  }

  .col-5 {
    display: inline-block;
    width: auto;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .img__texto--pro {
    text-align: center;
    display: inline-block;
  }

  .comprar__pro {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
  }

  .texto__header h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  .textos-header {
    font-size: 10px;
    margin-top: 30px;
  }

  .titulo {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {

  /* Inicio */
  /* Productos inicio */
  .contenedor__productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor__productos-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }

  .col-3 {
    display: inline-block;
    width: 200px;
    height: max-content;
  }

  .col-5 {
    display: inline-block;
    width: auto;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .img__texto--pro {
    text-align: center;
    display: inline-block;
  }

  .comprar__pro {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
  }

  .texto__header h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  .textos-header {
    font-size: 10px;
    margin-top: 30px;
  }

  .titulo {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Cliente */
  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cards__card {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 20px;
  }

  .contenido-texto-card {
    padding: 5px;
  }
}

/* Armá tu pc */
/* Header Armá tu pc */
.header__arma {
  width: 100%;
  height: 600px;
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/halo_infinite_video_game_2020_2021-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/halo_infinite_video_game_2020_2021-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Footer Armá tu pc */
.footer__arma {
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/far_cry_3_2012_video_game-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/far_cry_3_2012_video_game-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor__footer--pagina {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.contenedor__footer--cont {
  text-align: center;
}

.contenedor__footer--cont h4 {
  color: #fff;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenedor__footer--cont p {
  color: #ccc;
}

/* Título body Armá tu pc */
.text__arma {
  display: inline-block;
  margin-left: 30%;
  color: #233D6E;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  border-radius: 4px;
  background-color: #e0e0e0;
  padding: 20px;
}

.text__arma--text {
  display: flex;
  color: #233D6E;
  margin-top: 20px;
}

.comprar {
  display: inline-flex;
  justify-items: right;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 4px;
  height: 30px;
  color: black;
  background: #4F80F5;
}

.img__arma--img {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 80px;
}

/* Productos para Armar la pc */
.elemento {
  grid-area: "elemento";
  display: inline;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #e0e0e0;
  border-radius: 4px;
  width: 300px;
}

.procesador__producto,
.mother__producto,
.ram__producto,
.gpu__producto,
.discos__producto,
.gabinete__producto,
.fuente__producto,
.monitor__producto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1, 1fr;
  grid-template-areas: "elemento elemento";
  grid-gap: 15px;
}

/* Orden de pag productos */
.procesadorProducto,
.motherProducto,
.ramProducto,
.gpuProducto,
.discosProducto,
.gabineteProducto,
.fuenteProducto,
.monitorProducto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
  grid-template-areas: "elemento";
  grid-gap: 70px;
}

/* Media queries Armá tu pc*/
@media screen and (max-width: 540px) {

  /* Arma tu pc */
  .procesador__producto,
  .mother__producto,
  .ram__producto,
  .gpu__producto,
  .discos__producto,
  .gabinete__producto,
  .fuente__producto,
  .monitor__producto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "elemento";
    grid-gap: 15px;
  }

  .text__arma {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .text__arma--text {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }

  .img__arma--img {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
  }

  .img__producto {
    margin-left: 12%;
    margin-top: 50px;
  }

  .comprar {
    margin-left: 14%;
  }
}

@media screen and (max-width: 900px) {

  .procesador__producto,
  .mother__producto,
  .ram__producto,
  .gpu__producto,
  .discos__producto,
  .gabinete__producto,
  .fuente__producto,
  .monitor__producto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "elemento";
    grid-gap: 15px;
  }

  .text__arma {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }

  nav>a {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .text__arma {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Productos */
/* Header Productos */
.header__productos {
  width: 100%;
  height: 600px;
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/need_for_speed_heat_video_game_car-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/need_for_speed_heat_video_game_car-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Footer Productos */
.footer__productos {
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/for_honor_4k_hd-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/for_honor_4k_hd-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

/* Ul and Li */
ul li {
  list-style: none;
}

/* Títulos principales */
.text__principal {
  display: block;
  margin: 0;
  color: #233D6E;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 60px;
  border-radius: 4px;
}

/* Twitts/ Twitter */
.contenedor__twitt {
  padding: 3%;
}

.twitter-tweet {
  display: inline-flex;
  flex-direction: row;
  margin-left: 260px;
}

/* Media queries Productos */
@media screen and (max-width: 540px) {
  .titulo__principal {
    text-align: center;
    margin: 0%;
    margin-top: 30px;
  }

  .text__principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .procesadorProducto,
  .motherProducto,
  .ramProducto,
  .gpuProducto,
  .discosProducto,
  .gabineteProducto,
  .fuenteProducto,
  .monitorProducto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "elemento";
    grid-gap: 70px;
    overflow-x: hidden;
  }

  .twitter-tweet {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    width: auto;
    height: 500px;
    overflow-x: hidden;
  }

  h5 {
    width: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 900px) {
  .titulo__principal {
    text-align: center;
  }

  .text__principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .procesadorProducto,
  .motherProducto,
  .ramProducto,
  .gpuProducto,
  .discosProducto,
  .gabineteProducto,
  .fuenteProducto,
  .monitorProducto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "elemento";
    grid-gap: 70px;
    overflow-x: hidden;
  }

  .twitter-tweet {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    width: auto;
    height: 500px;
  }

  h5 {
    width: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 1100px) {
  .titulo__principal {
    text-align: center;
  }

  .text__principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .procesadorProducto,
  .motherProducto,
  .ramProducto,
  .gpuProducto,
  .discosProducto,
  .gabineteProducto,
  .fuenteProducto,
  .monitorProducto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "elemento";
    grid-gap: 70px;
  }

  .twitter-tweet {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    width: auto;
    height: 500px;
  }

  h5 {
    width: 50%;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
  }
}

/* Notebooks */
/* Header Notebooks */
.header__notebooks {
  width: 100%;
  height: 600px;
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/spider_man_selfie-wallpaper-1920x1080.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/spider_man_selfie-wallpaper-1920x1080.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Footer Notebooks */
.footer__notebooks {
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/minecraft_2-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/minecraft_2-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

/* Título and Table */
.text__notebook {
  text-align: center;
  margin-left: 350px auto;
  color: #000;
}

.table__notebook {
  width: 100%;
  background-color: #e0e0e0;
  border-collapse: collapse;
}

.text__notebook--descripcion {
  color: #000;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #4F80F5;
}

tr,
th,
td {
  padding: 15px;
}

tr:hover td {
  background-color: #94AFEE;
  color: #ffff;
}

/* Notebooks */
.notebook__contenedor {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "elemento-4"
    "elemento-4"
    "elemento-4";
  grid-gap: 15px;
}

.comprar__note {
  background: #4F80F5;
  border-radius: 4px;
  padding: 3px;
}

.center__img {
  text-align: center;
  margin: 0 auto;
}

.note__note--prin {
  border: 1px solid #e0e0e0;
}

.note-note {
  border: 1px solid #e0e0e0;
  margin: 24px;
}

.elemento-4 {
  grid-area: "elemento";
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #f5f5f5;
  border-radius: 4px;
}

.note__img--note {
  border: 1px solid #ccc;
  display: inline-flex;
  flex-direction: row;
  margin: 31px;
}

/* Media queries Notebooks */
@media screen and (max-width: 540px) {
  .texto__principal--producto {
    text-align: center;
    margin: 50px 0;
  }

  .text__notebook {
    display: flex;
    text-align: center;
    margin: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .notebook__contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .table__notebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  tr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .text__notebook {
    display: block;
    text-align: center;
  }

  .note__note--prin {
    width: 250px;
    height: 250px;
    margin: 0;
  }

  .note__img--note {
    margin: 12%;
    width: 250px;
    height: 250px;
  }

  .contenedor__footer--pagina {
    flex-direction: column;
    border: none;
  }

  .contenedor__footer--cont {
    margin-bottom: 20px;
    text-align: center;
  }

  .contenedor__footer--cont h4 {
    border: none;
  }

  .contenedor__footer--cont p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 900px) {
  .texto__principal--producto {
    text-align: center;
  }

  .text__notebook {
    display: flex;
    text-align: center;
    margin: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .notebook__contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .table__notebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  tr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .text__notebook {
    display: block;
    text-align: center;
  }

  .note__note-prin {
    width: 250px;
    height: 250px;
  }

  .note__img-note {
    width: 250px;
    height: 250px;
    margin: 12%;
    display: inline-block;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .notebook__contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "elemento-4"
      "elemento-4"
      "elemento-4";
    grid-gap: 15px;
  }

  .texto__principal--producto {
    text-align: center;
  }

  .text__notebook {
    display: flex;
    text-align: center;
    margin: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .notebook__contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .table__notebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  tr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .text__notebook {
    display: block;
    text-align: center;
  }

  .note__note-prin {
    width: 250px;
    height: 250px;
    margin: 0;
  }

  .note__img-note {
    margin: 12px;
    width: 300px;
    height: 300px;
  }
}

/* Cuenta */
/* Header Cuenta */
.header__cuenta {
  width: 100%;
  height: 600px;
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/assassins_creed_valhalla_video_game_ragnar_lothbrok-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/assassins_creed_valhalla_video_game_ragnar_lothbrok-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Footer Cuenta */
.footer__cuenta {
  background: #4F80F5;
  background: -webkit-linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/gods_and_monsters_video_game_2020-wallpaper-1920x1200.jpg);
  background: linear-gradient(to right, rgba(81, 131, 245, 0.593), rgba(78, 93, 126, 0.593)), url(../assets/banner/gods_and_monsters_video_game_2020-wallpaper-1920x1200.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

/* Título cuenta */
.text__cuenta {
  text-align: center;
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: #f5f5f5;
  display: inline-block;
  margin-left: 32%;
  padding: 10px;
}

/* Formulario cuenta */
.formulario__cuenta {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
}

.boton__cuenta {
  display: inline-flex;
}

.boton__enviar--boton {
  background: #4F80F5;
  border-radius: 4px;
  margin: 10px 0;
  padding: 3px;
}

.boton__limpiar--boton {
  display: flex;
  flex-direction: row;
  background: #4F80F5;
  border-radius: 4px;
  padding: 3px;
}


@media screen and (max-width: 360px) {

  /* Texto crear tu cuenta */

  .text__cuenta {
    text-align: center;
    margin-bottom: 50px;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
  }

  .boton__enviar--boton {
    display: block;
    flex-direction: row;
    background: #4F80F5;
    border-radius: 4px;
    padding: 3px;
    margin-left: 42%;
    margin-right: 25%;
  }

  .boton__limpiar--boton {
    display: block;
    flex-direction: row;
    background: #4F80F5;
    border-radius: 4px;
    padding: 3px;
    margin-left: 35%;
    margin-right: 25%;
  }


  /* Footer´s */

  .contenedor__footer--pagina {
    flex-direction: column;
    border: none;
  }

  .contenedor__footer--cont {
    margin-bottom: 20px;
    text-align: center;
  }

  .contenedor__footer--cont h4 {
    border: none;
  }

  .contenedor__footer--cont p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }
}