/* Cuenta */
/* Header Cuenta */

.header__cuenta{
    width: 100%;
    height: 600px;
    background: #4F80F5;
    background: -webkit-linear-gradient(to right,hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593) ), url(../assets/banner/call_of_duty_black_ops_ii_2012-wallpaper-1280x768.jpg);
    background: linear-gradient(to right,hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593) ), url(../assets/banner/call_of_duty_black_ops_ii_2012-wallpaper-1280x768.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Footer Cuenta */

.footer__cuenta{
    background: #4F80F5;
    background: -webkit-linear-gradient(to right,hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593) ), url(../assets/banner/the_last_of_us_12-wallpaper-1280x800.jpg);
    background: linear-gradient(to right,hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593) ), url(../assets/banner/the_last_of_us_12-wallpaper-1280x800.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

/* Título cuenta */

.text__cuenta{
    text-align: center;
    margin-bottom: 50px;
}

/* Formulario cuenta */

.formulario__cuenta{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
}