* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contenedor {
    padding: 60px 0;
    width: 80%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}


/* Pages */

/* Inicio */
/* Header Inicio */
.header__inicio {
    width: 100%;
    height: 600px;
    background: #4F80F5;
    background: -webkit-linear-gradient(to right, hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593)), url(../assets/banner/star_wars_battlefront_ii_2017_video_game-wallpaper-1920x1200.jpg);
    background: linear-gradient(to right, hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593)), url(../assets/banner/star_wars_battlefront_ii_2017_video_game-wallpaper-1920x1200.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Footer Inicio */
.footer__inicio {
    background: #4F80F5;
    background: -webkit-linear-gradient(to right, hsla(222, 91%, 21%, 0.607), hsla(220, 60%, 15%, 0.593)), url(../assets/banner/fallout_vault_boy_2-wallpaper-1152x720.jpg);
    background: linear-gradient(to right, hsla(222, 91%, 21%, 0.607), hsla(220, 60%, 15%, 0.593)), url(../assets/banner/fallout_vault_boy_2-wallpaper-1152x720.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor__footer--pagina {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenedor__footer--cont {
    text-align: center;
}

.contenedor__footer--cont h4 {
    color: #fff;
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor__footer--cont p {
    color: #ccc;
}


/* NAV and Wave*/

.nav__nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #ffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
}

nav>a:hover {
    text-decoration: underline;
    background-color: #b0b0b0;
}

.nav li a{
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.nav > li {
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Título principal NAV */

header .texto-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    color: #6BAFF9;
    margin-top: 100px;
    margin-left: 20px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    color: #ffff;
    margin-left: 80px;
}

/* Título Ofertas */
.titulo {
    display: inline-block;
    margin-left: 28%;
    padding: 10px;
    background: #e0e0e0;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

/* mejores productos de la semana */

.comprar__pro {
    display: inline-flex;
    justify-items: right;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 30px;
    color: black;
    background: #4F80F5;
}

.contenedor_productos {
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    border-radius: 4px;
}

.contenedor__productos-inicio {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}

.img__producto {
    margin-top: 10px;
    border: 1px solid #b0b0b0;
}

.img__texto-pro {
    padding: 10px;
}

.comprar__pro {
    margin-bottom: 20px;
}

/* carousel */
#carouselExampleControls {
    margin-bottom: 20px;
    width: 100%;
}

/* Clients */


.titulo__clientes {
    color: #000;
    padding: 50px;
    text-align: center;
    margin-right: auto;
}

.clientes__contenedor {
    margin: 60px 0 60px 0;
    background: #e0e0e0;
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards__card {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cards .cards__card {
    background: #e0e0e0;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.img__card {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #b0b0b0;
    border-radius: 50%;
    display: block;
}

.img__card-2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #b0b0b0;
    border-radius: 50%;
}

.cards .cards__card>.contenido-texto-card {
    width: 60%;
    color: #000;
}

.cards .cards__card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 10px;
}

p {
    padding: 30px;
}

/* Media queries Inicio */

/* NAV */
@media screen and (max-width:540px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav>a {
        margin-right: 5px;
        display: flex;
        flex-direction: column;
    }

    .img__cuenta-header {
        margin-left: 155px;
    }

    .contenedor__productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor__productos-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .col-3 {
        display: inline-block;
        width: 200px;
        height: max-content;
    }

    .col-5 {
        display: inline-block;
        width: auto;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img__texto-pro {
        text-align: center;
        display: inline-block;
    }

    .comprar__pro {
        display: inline-block;
        margin-left: 20%;
        margin-right: 20%;
    }

    .texto__header h1 {
        font-size: 30px;
        margin-top: 50px;
    }

    .textos-header {
        font-size: 10px;
        margin-top: 30px;
    }

    .titulo {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* carousel */
    #carouselExampleControls {
        width: 100%;
    }

    /* Footer */
    .contenedor__footer-pagina {
        flex-direction: column;
        border: none;
    }

    .titulo__clientes {
        display: inline-block;
        text-align: center;
    }

    .contenedor__footer-cont {
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor__footer-cont h4 {
        border: none;
    }

    .contenedor__footer-cont p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    /* Inicio */
    /* Clientes */
    .titulo__clientes {
        padding: 20px;
        margin: 0;
    }

    .clientes__contenedor {
        padding: 0;
    }

    .cards .cards__card {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cards__card {
        display: inline-flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }

    .cards .cards__card .img__card .img__card-2 {
        width: 90px;
        height: 90px;
    }

    .contenido-texto-card p {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding: 0;
        margin: 0;
    }

    /* Productos inicio */
    .contenedor__productos {
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .col-3 {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:840px) {

    /* Cliente */
    .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cards__card {
        display: inline-flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }

    .contenido-texto-card {
        display: flex;
        flex-direction: column;

    }

    .contenedor__productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor__productos-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .col-3 {
        display: inline-block;
        width: 200px;
        height: max-content;
    }

    .col-5 {
        display: inline-block;
        width: auto;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img__texto-pro {
        text-align: center;
        display: inline-block;
    }

    .comprar__pro {
        display: inline-block;
        margin-left: 20%;
        margin-right: 20%;
    }

    .texto__header h1 {
        font-size: 30px;
        margin-top: 50px;
    }

    .textos-header {
        font-size: 10px;
        margin-top: 30px;
    }

    .titulo {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:900px) {
    /* Inicio */

    /* Productos inicio */

    .contenedor__productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor__productos-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .col-3 {
        display: inline-block;
        width: 200px;
        height: max-content;
    }

    .col-5 {
        display: inline-block;
        width: auto;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img__texto-pro {
        text-align: center;
        display: inline-block;
    }

    .comprar__pro {
        display: inline-block;
        margin-left: 20%;
        margin-right: 20%;
    }

    .texto__header h1 {
        font-size: 30px;
        margin-top: 50px;
    }

    .textos-header {
        font-size: 10px;
        margin-top: 30px;
    }

    .titulo {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* Cliente */
    .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cards__card {
        display: inline-flex;
        flex-direction: row;
        margin: auto;
        margin-bottom: 20px;
    }

    .contenido-texto-card {
        padding: 5px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto Condensed', sans-serif;
        overflow-x: hidden;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .contenedor {
        padding: 60px 0;
        width: 80%;
        max-width: 900px;
        margin: auto;
        overflow: hidden;
    }


    /* Pages */

    /* Inicio */
    /* Header Inicio */
    .header__inicio {
        width: 100%;
        height: 600px;
        background: #4F80F5;
        background: -webkit-linear-gradient(to right, hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593)), url(../assets/banner/star_wars_battlefront_ii_2017_video_game-wallpaper-1920x1200.jpg);
        background: linear-gradient(to right, hsla(222, 89%, 64%, 0.593), hsla(221, 24%, 40%, 0.593)), url(../assets/banner/star_wars_battlefront_ii_2017_video_game-wallpaper-1920x1200.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    /* Footer Inicio */
    .footer__inicio {
        background: #4F80F5;
        background: -webkit-linear-gradient(to right, hsla(222, 91%, 21%, 0.607), hsla(220, 60%, 15%, 0.593)), url(../assets/banner/fallout_vault_boy_2-wallpaper-1152x720.jpg);
        background: linear-gradient(to right, hsla(222, 91%, 21%, 0.607), hsla(220, 60%, 15%, 0.593)), url(../assets/banner/fallout_vault_boy_2-wallpaper-1152x720.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        padding: 60px 0 30px 0;
        margin: auto;
        overflow: hidden;
    }

    .contenedor__footer--pagina {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }

    .contenedor__footer--cont {
        text-align: center;
    }

    .contenedor__footer--cont h4 {
        color: #fff;
        border-bottom: 3px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .contenedor__footer--cont p {
        color: #ccc;
    }


    /* NAV and Wave*/

    nav {
        text-align: right;
        padding: 30px 50px 0 0;
    }

    nav>a {
        color: #ffff;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
        text-transform: uppercase;
    }

    nav>a:hover {
        text-decoration: underline;
    }

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    /* Título principal NAV */

    header .texto-header {
        display: flex;
        height: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 60px;
        color: #6BAFF9;
        margin-top: 100px;
        margin-left: 20px;
    }

    h2 {
        font-size: 30px;
        font-weight: 300;
        color: #ffff;
        margin-left: 80px;
    }

    /* Título Ofertas */
    .titulo {
        display: inline-block;
        margin-left: 28%;
        padding: 10px;
        background: #e0e0e0;
        border-radius: 4px;
        color: #000;
        text-align: center;
        font-size: 30px;
        margin-bottom: 60px;
    }

    /* mejores productos de la semana */

    .comprar__pro {
        display: inline-flex;
        justify-items: right;
        text-decoration: none;
        border-radius: 4px;
        margin-bottom: 20px;
        height: 30px;
        color: black;
        background: #4F80F5;
    }

    .contenedor_productos {
        display: inline-flex;
        justify-content: center;
        margin: 10px;
        border-radius: 4px;
    }

    .contenedor__productos-inicio {
        padding: 20px;
        margin-bottom: 40px;
        border-radius: 4px;
    }

    .img__producto {
        margin-top: 10px;
        border: 1px solid #b0b0b0;
    }

    .img__texto-pro {
        padding: 10px;
    }

    .comprar__pro {
        margin-bottom: 20px;
    }

    /* carousel */
    #carouselExampleControls {
        margin-bottom: 20px;
        width: 100%;
    }

    /* Clients */


    .titulo__clientes {
        color: #000;
        padding: 50px;
        text-align: center;
        margin-right: auto;
    }

    .clientes__contenedor {
        margin: 60px 0 60px 0;
        background: #e0e0e0;
        padding: 50px;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
    }

    .cards__card {
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .cards .cards__card {
        background: #e0e0e0;
        display: flex;
        width: 46%;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
    }

    .img__card {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 1px solid #b0b0b0;
        border-radius: 50%;
        display: block;
    }

    .img__card-2 {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 1px solid #b0b0b0;
        border-radius: 50%;
    }

    .cards .cards__card>.contenido-texto-card {
        width: 60%;
        color: #000;
    }

    .cards .cards__card>.contenido-texto-card p {
        font-weight: 300;
        padding-top: 10px;
    }

    p {
        padding: 30px;
    }

    /* Media queries Inicio */

    /* NAV */
}
    @media screen and (max-width:540px) {
        nav {
            text-align: center;
            padding: 30px 0 0 0;
        }

        nav>a {
            margin-right: 5px;
            display: flex;
            flex-direction: column;
        }

        .img__cuenta-header {
            margin-left: 155px;
        }

        .contenedor__productos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contenedor__productos-inicio {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0%;
        }

        .col-3 {
            display: inline-block;
            width: 200px;
            height: max-content;
        }

        .col-5 {
            display: inline-block;
            width: auto;
        }

        .row {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .img__texto-pro {
            text-align: center;
            display: inline-block;
        }

        .comprar__pro {
            display: inline-block;
            margin-left: 20%;
            margin-right: 20%;
        }

        .texto__header h1 {
            font-size: 30px;
            margin-top: 50px;
        }

        .textos-header {
            font-size: 10px;
            margin-top: 30px;
        }

        .titulo {
            width: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        /* carousel */
        #carouselExampleControls {
            width: 100%;
        }

        /* Footer */
        .contenedor__footer-pagina {
            flex-direction: column;
            border: none;
        }

        .titulo__clientes {
            display: inline-block;
            text-align: center;
        }

        .contenedor__footer-cont {
            margin-bottom: 20px;
            text-align: center;
        }

        .contenedor__footer-cont h4 {
            border: none;
        }

        .contenedor__footer-cont p {
            color: #ccc;
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 20px;
        }

        /* Inicio */
        /* Clientes */
        .titulo__clientes {
            padding: 20px;
            margin: 0;
        }

        .clientes__contenedor {
            padding: 0;
        }

        .cards .cards__card {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cards {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .cards__card {
            display: inline-flex;
            flex-direction: column;
            margin: auto;
            margin-bottom: 20px;
        }

        .cards .cards__card .img__card .img__card-2 {
            width: 90px;
            height: 90px;
        }

        .contenido-texto-card p {
            display: flex;
            flex-direction: row;
            width: 30%;
            padding: 0;
            margin: 0;
        }

        /* Productos inicio */
        .contenedor__productos {
            height: max-content;
            display: flex;
            flex-direction: column;
        }

        .col-3 {
            display: flex;
            flex-direction: column;
        }
    }


    @media screen and (max-width:840px) {

        /* Cliente */
        .cards {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .cards__card {
            display: inline-flex;
            flex-direction: column;
            margin: auto;
            margin-bottom: 20px;
        }

        .contenido-texto-card {
            display: flex;
            flex-direction: column;

        }

        .contenedor__productos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contenedor__productos-inicio {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0%;
        }

        .col-3 {
            display: inline-block;
            width: 200px;
            height: max-content;
        }

        .col-5 {
            display: inline-block;
            width: auto;
        }

        .row {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .img__texto-pro {
            text-align: center;
            display: inline-block;
        }

        .comprar__pro {
            display: inline-block;
            margin-left: 20%;
            margin-right: 20%;
        }

        .texto__header h1 {
            font-size: 30px;
            margin-top: 50px;
        }

        .textos-header {
            font-size: 10px;
            margin-top: 30px;
        }

        .titulo {
            width: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    @media screen and (max-width:900px){
        .contenedor__productos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contenedor__productos-inicio {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0%;
        }

        .col-3 {
            display: inline-block;
            width: 200px;
            height: max-content;
        }

        .col-5 {
            display: inline-block;
            width: auto;
        }

        .row {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .img__texto-pro {
            text-align: center;
            display: inline-block;
        }

        .comprar__pro {
            display: inline-block;
            margin-left: 20%;
            margin-right: 20%;
        }

        .texto__header h1 {
            font-size: 30px;
            margin-top: 50px;
        }

        .textos-header {
            font-size: 10px;
            margin-top: 30px;
        }

        .titulo {
            width: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        /* Cliente */
        .cards {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .cards__card {
            display: inline-flex;
            flex-direction: row;
            margin: auto;
            margin-bottom: 20px;
        }

        .contenido-texto-card {
            padding: 5px;
        }
    }